*{
    box-sizing: border-box;
    font-family: 'Courgette',"Microsoft Jhenghei";
}
html, body, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
img{
    width: 100%;
    vertical-align: middle;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.box-L{
    float: left;
}
.box-R{
    float: right;
}
