.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
*{
	box-sizing: border-box;
}
h3{ font-size: 25px;}
@media(min-width:768px){
	h3{ font-size: 31.5px;}
}
h4{	font-size: 26px;}
h5{ 
	font-size: 16px;
	font-weight: normal;
}
h6{	
	font-size: 14px;
	font-weight: normal;
}