body{
	background-image: url(../images/bg.jpg);
	-webkit-background-size: contain;
	background-size: contain;
	font-family: "Century Gothic","微軟正黑體"
}
.container{
	width: 100%;
	background-image: url(../images/main-bg.jpg);
}
@media (min-width: 768px){
	.container{
		width: 768px;
		margin: 50px auto;
	}
}
@media(min-width: 992px){.container{ width: 992px;}}
@media(min-width: 1200px){.container{ width: 1200px;}}
/*common setting*/
h2{
	position: relative;
	font-size: 25px;
	padding: 0 0 10px 0;
	margin: 0 0 30px 0;
}
h2::after{
	position: absolute;
	content: '';
	width: 30px;
	height: 8px;
	background-color: #ed5191;
	bottom: -10px;
	left: calc(50% - 15px);
}
h6{
	color: #ed5191;
	font-weight: bold;
	margin: 10px 0;
}

.content{
	text-align: center;
	padding: 0 15px;
	margin: 30px 0;
}
@media(min-width: 768px){
	.content{
		width: 355px;
		padding: 0 30px;
		margin: 48px 0;
	}
}
@media(min-width: 992px){
	.content{
		width: 385px;
		padding: 0 45px;
		margin: 134px 0;
	}
}
@media(min-width: 1200px){
	.content{
		width: 485px;
		padding: 0 60px;
		margin: 180px 0;
	}
}
.content2{
	text-align: center;
	padding: 0 15px;
	margin: 30px 0;
}
@media(min-width: 768px){
	.content2{
		width: 368px;
		padding: 0 20px;
		margin: 15px 0;
	}
}
@media(min-width: 992px){
	.content2{
		width: 368px;
		padding: 0 30px;
		margin: 55px 0;
	}
}
.content p,.content2 p{
	font-size: 14px;
}
.image-box{	display: none;}
@media(min-width: 768px){
	.image-box{
		display: block;
		width: 410px;
		margin-bottom: -5px;
	}
}
@media(min-width: 992px){.image-box{ width: 605px;}}
@media(min-width: 1200px){.image-box{ width: 700px;}}

.image-box2{display: none;}
@media(min-width: 768px){
	.image-box2{
		display: block;
		width: 400px;
		margin-bottom: -5px;
	}
}
@media(min-width: 992px){.image-box2{ width: 620px;}}
@media(min-width: 1200px){.image-box2{ width: 820px;}}
.image-box img,.image-box2 img{	width: 100%;}
/*common setting end*/

header{
	background-image: url(../images/bg2.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 10px 0 30px 0;
}
header .logo{
	position: relative;
	width: 80px;
	margin: 20px auto;
}
@media( min-width: 768px){
	header .logo{
		float: left;
		width: 80px;
		margin: 30px;	
	}
}
.logo::after{
	position: absolute;
	content: '';
	width: 30px;
	height: 8px;
	background-color: #ed5191;
	bottom: -15px;
	left: calc(50% - 15px);
}
.logo img{ width: 100%;}
header nav{
	margin: 0 auto;
}
@media(min-width: 768px){
	header nav{
		float: right;
		margin: 30px 20px 0 0;
	}
}
header ul li{
	float: left;
	margin: 20px 0;
	width: calc(100% / 4);
}
@media(min-width: 768px){
	header ul li{
		margin: 0 20px;
		width: auto;
	}
}
header li a{
	display: block;
	background-color: #ed5191;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
}
@media(min-width: 768px){
	header li a{
		background-color: transparent;
		color: #333;
		font-weight: bold;
		font-size: 16px;
	}
}
.logo-img-box{
	text-align: center;
	width: 150px;
	margin: 40px auto;
}
@media(min-width: 768px){
	.logo-img-box{
		margin: 100px auto;
		padding: 0 0 100px 0;
	}
}
.logo-img-box img{
	width: 100%;
}

.arrow-down{
	width: 50px;
	margin: 0 auto;
}
.arrow-down img{
	width: 100%;
}
/*story*/
@media(min-width: 768px){
	#story .content{
		float: left;
	}	
	#story .image-box{
		float: right;
	}
}

/*fare*/
@media(min-width: 768px){
	#fare .image-box2{
		float: left;
	}
	#fare .content2{
		float: right;
	}
}
#fare .content2 img{
	width: 40%;
}
@media(min-width: 768px){#fare .content2 img{width: 20%;}}
@media(min-width: 992px){#fare .content2 img{width: 40%;}}

/*local*/
@media(min-width: 768px){
	#local .content{
		float: left;
		margin: 17px 0;
	}
	#local .image-box{
		float: right;
	}
}
@media(min-width: 992px){#local .content{margin: 96px 0;}}
@media(min-width: 1200px){#local .content{margin: 130px 0;}}
#local .content img{
	width: 40%;
}

/*under-banner*/
#under-banner img{
	width: 100%;
}

/*footer*/
footer{
	padding: 10px 0;
}
@media(min-width: 768px){
	footer{
		padding: 30px 0;
	}	
}
footer .logo{
	position: relative;
	width: 80px;
	margin: 30px auto;
}
@media(min-width: 768px){
	footer .logo{
		width: 80px;
		margin: 60px 30px;		
	}
}
footer .contact-us-box{
	font-size: 12px;
	padding: 0 15px;
}
@media(min-width: 768px){
	footer .contact-us-box{
		float: left;
		margin: 0 30px;
	}
}
footer .address{
	width: 250px;
	margin: 0 auto;
}
@media(min-width: 768px){
	footer .address{
		margin: 10px 0;
	}
}
footer .phone,footer .fax{
	text-align: center;
	margin: 10px auto;
}
@media(min-width: 768px){
	footer .phone,footer .fax{
		text-align: left;
		margin: 0;
	}
}

footer .social-link{
	width: 100px;
	margin: 0 auto;
}
@media(min-width: 768px){
	footer .social-link{
		float: right;
		margin: 10px 30px 10px 0;
	}
}
footer .social-link ul li{
	float: left;
}
footer .social-link ul li a{
	color: #ed5191;
	margin: 0 5px;
}
